header
	{background-color: #e0e0e0;
	}
.logo>img
{
	height: 90px;
}
.first-line{
	padding: 20px 0px;
}
h1
{
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
	color: #585858;
}
ul{
	list-style:none;
	margin: 0;
	padding: 0;
}
li.head-menu{
	float: left;
	padding: 20px 40px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color: #585858;
}
li.head-menu:first-child{
	padding-left: 0;
}
li.head-menu:last-child{
	padding-right: 0;
}
li.head-menu>ul>li>a{
	color: #000;
	font-size: 14px;
	text-transform: initial;
	font-weight: normal;
}
li.head-menu>ul>li>a:active{
	color: #d24a43;
	text-decoration: none;
}
li.head-menu>ul>li>a:hover{
	color: #d24a43;
	text-decoration: none;
}
h2{
	font-size: 18px;
    text-transform: uppercase;
    color: #585858;
	line-height: 30px;
}
.main{
    padding: 25px 0px;
    background-color: #f9f9f9;
text-align: justify;
}
p{
text-indent: 20px;}
.prew{
	height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
